.edit {
     width: 100% !important;
     -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
     box-sizing: border-box !important;         /* Opera/IE 8+ */
    height: 70%;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.jumbotron {
    height:100%;
}