.vertical-center {
  min-height: 100%;  
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.jumbotron {
    background-image: url(rocks.jpg);  
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.vertical-offset-100{
    padding-top:100px;
    
}

body {
  /*background-image: url("metall.jpg");*/
  background-color: #606060 !important;
}

.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #101929;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}


.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}


/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.about {
    text-align: center;
}

.tab-pane li {
  padding: 10px;
}

.well {
  margin: 0px 0px 0px 0px ;
}
label {
  pointer: cursor;
  /* Style as you please, it will become the visible UI component. */
}

#fileToUpload {
  /*font-size: 0;*/
  /*opacity: 0;*/
  /*position: absolute;*/
  /*z-index: -1;*/
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}