/* Kommentaar */
body {
    background: #fff;
    font-family: monospace;
    color: antiquewhite;
}

a {
    color: antiquewhite;
    text-decoration: none;
    border-radius: 20px;
    
}
.box {
    color: darkkhaki;
    width: 200px    ;
    margin: 0 auto;
    padding: 10px;
    background: antiquewhite;
    text-align: center;
    box-shadow: 4px rgba(0,0,0,0.3);
}

thead {
    background-color: white;
    color: black;
}
.cat {
    background-image: url(cat.jpg)
}

.big-text {
    font-size: 40px;
    color: red;
}

#idText {
    color: blue;
    text-align: right;
    
    
}