.main {
  &-visual {
    display: none;
  }
}

body {
  background-color: rgba(231, 231, 231, 1);
}

.left-rectangle {
  position: absolute;
  margin-left: 3.23%;
  margin-top: 4.76%;
  height: 926.72px;
  width: 22.42%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 10px 0 rgba(136, 136, 136, 0.26), 0 14px 28px 0 rgba(149, 149, 149, 0.25);
}

.basic-text {
  color: #737373;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 16px;
}

.header {
  position: absolute;
  height: 93px;
  width: 1121px;
  margin-left: 4.96%;
  margin-top: 1.31%;
  .group-3 {
    height: 16px;
  }
}

.header-text {
  margin-top: 1px;
  @extend .basic-text;
  .buslines-sa {
    //margin-left: 60px;
  }
  .muugipunkt {
    margin-left: 34px;
  }
}

.buslines-img img {
  //margin-left: 135px;
  margin-top: 35px;
  //background-image: url("../img/BUSLINES.png");
  height: 21px;
  //width: 101px;
}

.line {
  margin-left: 37px;
  margin-top: 14.66px;
  box-sizing: border-box;
  height: 1.5px;
  width: 86%;
  border: 1px solid rgba(92, 145, 195, 0.35);
}

.blue-text {
  @extend .basic-text;
  color: #0053A1 !important;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 58px;
  .one-way {
    margin-left: 11px;
  }
  .open-ticket {
    margin-left: 27px;
  }
}

.directions {
  margin-left: 37px;
  margin-top: 27.5px;
  @extend .basic-text;
  .direction-box {
    height: 57px;
    width: 363px;
    border-radius: 3px;
    background-color: #F2F4F7;
    box-shadow: inset 0 2px 3px 0 #D9D9D9;
    //span {
    //  margin: 19px 0 18px 22px;
    //}
    .from-direction {
      height: 57px;
      width: 363px;
      position: absolute;
      top: 24%;
      margin-left: 21px
    }
  }
  .margin-box {
    margin-top: 10px;
    .to-direction {
      @extend .from-direction;
      top: 34% !important;
    }
    .depart {
      @extend .direction-box;
      width: 182px !important;
      .date {
        font-weight: bold;
        padding: 22px 15.8px 18px 15.8px;
        color: #000;
      }
      .calendar {
        padding-left: 38px;
        color: #9B9B9B;
      }
    }
    .custom-checkbox {
      margin-left: 226px;
      margin-top: -42px;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background-color: #F2F4F7;
      box-shadow: inset 0 2px 3px 0 #D9D9D9;
    }
    .checkbox-text {
      color: #4A4A4A;
      font-weight: 500;
      position: absolute;
      margin-left: 262px;
      margin-top: -35px;
    }
  }
  .passengers-box {
    height: 229px;
    width: 363px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: inset 0 2px 3px 0 #D9D9D9;
  }
  a {
    color: #0053A1;
  }
  .big-blue-button {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 14px;
    height: 64px;
    width: 363px;
    border-radius: 3px;
    background-color: #0053A1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0 #0053A1;
    div {
      padding-top: 24px;
    }
  }
}

