.main-visual {
  display: none; }

body {
  background-color: #e7e7e7; }

.left-rectangle {
  position: absolute;
  margin-left: 3.23%;
  margin-top: 4.76%;
  height: 926.72px;
  width: 22.42%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 10px 0 rgba(136, 136, 136, 0.26), 0 14px 28px 0 rgba(149, 149, 149, 0.25); }

.basic-text, .header-text, .blue-text, .directions {
  color: #737373;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 16px; }

.header {
  position: absolute;
  height: 93px;
  width: 1121px;
  margin-left: 4.96%;
  margin-top: 1.31%; }
  .header .group-3 {
    height: 16px; }

.header-text {
  margin-top: 1px; }
  .header-text .muugipunkt {
    margin-left: 34px; }

.buslines-img img {
  margin-top: 35px;
  height: 21px; }

.line {
  margin-left: 37px;
  margin-top: 14.66px;
  box-sizing: border-box;
  height: 1.5px;
  width: 86%;
  border: 1px solid rgba(92, 145, 195, 0.35); }

.blue-text {
  color: #0053A1 !important;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 58px; }
  .blue-text .one-way {
    margin-left: 11px; }
  .blue-text .open-ticket {
    margin-left: 27px; }

.directions {
  margin-left: 37px;
  margin-top: 27.5px; }
  .directions .direction-box, .directions .margin-box .depart {
    height: 57px;
    width: 363px;
    border-radius: 3px;
    background-color: #F2F4F7;
    box-shadow: inset 0 2px 3px 0 #D9D9D9; }
    .directions .direction-box .from-direction, .directions .margin-box .depart .from-direction, .directions .direction-box .margin-box .to-direction, .directions .margin-box .direction-box .to-direction, .directions .margin-box .depart .to-direction {
      height: 57px;
      width: 363px;
      position: absolute;
      top: 24%;
      margin-left: 21px; }
  .directions .margin-box {
    margin-top: 10px; }
    .directions .margin-box .to-direction {
      top: 34% !important; }
    .directions .margin-box .depart {
      width: 182px !important; }
      .directions .margin-box .depart .date {
        font-weight: bold;
        padding: 22px 15.8px 18px 15.8px;
        color: #000; }
      .directions .margin-box .depart .calendar {
        padding-left: 38px;
        color: #9B9B9B; }
    .directions .margin-box .custom-checkbox {
      margin-left: 226px;
      margin-top: -42px;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background-color: #F2F4F7;
      box-shadow: inset 0 2px 3px 0 #D9D9D9; }
    .directions .margin-box .checkbox-text {
      color: #4A4A4A;
      font-weight: 500;
      position: absolute;
      margin-left: 262px;
      margin-top: -35px; }
  .directions .passengers-box {
    height: 229px;
    width: 363px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: inset 0 2px 3px 0 #D9D9D9; }
  .directions a {
    color: #0053A1; }
  .directions .big-blue-button {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 14px;
    height: 64px;
    width: 363px;
    border-radius: 3px;
    background-color: #0053A1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0 #0053A1; }
    .directions .big-blue-button div {
      padding-top: 24px; }

/*# sourceMappingURL=main.css.map */
