body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size-adjust: auto;
    
}

board {
    text-align: center;
    font-family: 'Roboto';
}

.vertical-center {
  
}

.selected {
    opacity: 1.0;
}

.aipicks {
    opacity: 0.5;
}

img {
    width: 90px;

}    

.playerPics {
    opacity: 0.5;
}

.playerPics:hover {
    opacity: 1.0;
}

.score {
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto';
}

.game-button {
  border: 3px solid #222;
  background: transparent;
  overflow: hidden;
  width: 50%;
  outline: none;
    height: 15%;
}
.inline-block {
    display: inline-block;
}

.heading-container {
	text-align: center;
	display: table;
    width: 100%;
    height: 33.333%
}

.heading {
    display:table-cell;
    vertical-align:middle;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.table {
  font-family: sans-serif;
  font-size: 130%;
  width: 100%;
}
.table th {
  width: 16%;
  background-color: #C9C9C9;
  color: white;
  font-weight: normal;
  padding: 10px 20px;
  text-align: center;
}
.table td {
  background-color: #F7F7F7;
  color: #6f6f6f;
  padding: 20px 30px;
}