body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size-adjust: auto;
    
}

board {
    text-align: center;
    font-family: 'Roboto';
    
}

.vertical-center {
  
}

.selected {
    opacity: 1.0;
}

.aipicks {
    opacity: 0.5;
}

img {
    width: 90px;

}    

.playerPics {
    opacity: 0.5;
}

.playerPics:hover {
    opacity: 1.0;
}

.score {
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto';
}