body {
    background-color: #e7e7e7;
}

.roulette {
    margin-left: 10%;
    border-radius: 3px;
    background-color: #606060;
    box-shadow: inset 0 2px 3px 0 #404040;
    width: 100%;
    height: 50px;
}

.line {
    box-sizing: border-box;
    height: 2px;
    width: 100%;
    /*#404040*/
    border: 1px solid rgba(64,64,64,1)	;
}

.time {
    size: 20px;
    font-family: 'Roboto', sans-serif;
}

.bet-box {

}
.box {
    border-radius: 3px;
    background-color: #404040;
    box-shadow: inset 0 2px 3px 0 #D9D9D9;
    width: 100px;
    height: 50px;
}