body {
    background: #079;
    text-align: center;
}

#gameboard {
    font-size: 0;
    width: 424px;
    margin: 0 auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: white;
    display: inline-block;
    margin: 3px;
    
    background-image: url(../images/card.jpg);
    background-size: cover;
    background-position: center;
    border: 8px solid white;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5)
}

